header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-gray);
  padding: 0 50px;
  position: fixed;
  height: 125px;
  width: 100%;
}

.header_bg {
  background-color: var(--dark);
}
