:root {
  --font: 'Roboto', sans-serif;
  --font-2: 'Source Sans 3', sans-serif;

  --white: #fff;
  --gray: #a5a5a5;
  --red: #e53935;
  --yellow: #ffba05;
  --green: #00c86f;

  --dark: #000;
  --dark-gray: #262626;

  --blue: #2271d1;
  --blue-light: #6bd1ff;
  --blue-dark: #03122f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0 0 0 / 0.9);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
