:root {
  --font: 'Roboto', sans-serif;
  --font-2: 'Source Sans 3', sans-serif;

  --white: #fff;
  --gray: #a5a5a5;
  --red: #e53935;
  --yellow: #ffba05;
  --green: #00c86f;

  --dark: #000;
  --dark-gray: #262626;

  --blue: #2271d1;
  --blue-light: #6bd1ff;
  --blue-dark: #03122f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0 0 0 / 0.9);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 45px;
}

@media (max-width: 1024px) {
  .banner {
    width: 100%;
  }

  .banner img {
    width: 460px;
    margin-left: 20px;
  }

  .card_content {
    display: flex;
    flex-wrap: nowrap;
  }

  .modal {
    width: 70%;
  }
}

@media (max-width: 700px) {
  main {
    padding: 0 15px 70px;
  }

  .banner {
    display: none;
  }
}
